<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head"></head><!--/head-->

<body>

<header th:replace="/fragments/header :: navbar"></header>

<section th:replace="/fragments/cart :: cart_items"></section>

<footer th:replace="/fragments/footer :: footer"/><!--Footer-->


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>

</body>

</html>